.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

dialog[open] article {
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
