{% load static %}
{% load user_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex" />
  <link rel="manifest" href="{% static 'manifest.json' %}" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{% block title %}Panel de Comandas{% endblock %}</title>
  <!-- PicoCSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css"
  >
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
  <header class="container">
    <nav>
      <ul>
        <!-- Sección principal -->
        <li>
          <a href="{% url 'table_list' %}">
            Mesas
          </a>
        </li>
        <li>
          <a href="{% url 'order_history' %}">
            Historial
          </a>
        </li>
        {% if user|is_encargado %}
        <!-- Inventario -->
        <li>
          <details class="dropdown">
            <summary>
              Ingredientes
            </summary>
            <ul>
              <li>
                <a href="{% url 'inventory_movement' %}">
                  Movimientos
                </a>
              </li>
              <li>
                <a href="{% url 'purchase_ingredients' %}">
                  Ingresos
                </a>
              </li>
            </ul>
          </details>
        </li>
        <!-- Reportes -->
        <li>
          <details class="dropdown">
            <summary>
              Reportes
            </summary>
            <ul>
              <li>
                <a href="{% url 'sales_report_by_product' %}">
                  Ventas
                </a>
              </li>
              <li>
                <a href="{% url 'report_orders' %}">
                  Comandas
                </a>
              </li>
              <li>
                <a href="{% url 'report_movements' %}">
                  Movimiento de Inventario
                </a>
              </li>
              <li>
                <a href="{% url 'report_inventory' %}">Saldo de Inventario</a>
              </li>
            </ul>
          </details>
        </li>
        {% endif %}
        {% if user.is_staff %}
          <li><a href="/admin/">Admin</a></li>
        {% endif %}
      </ul>
      <ul>
        <li><strong>{{user|get_group}}: {{request.user}}</strong></li>
        <li>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button role="button" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
  {% endif %}
  <!-- Mensajes -->
  {% if messages %}
  <section class="container">
    {% for message in messages %}
      <blockquote class="messages__{{ message.tags }}">
        {{ message }}
      </blockquote>
    {% endfor %}
  </section>
  {% endif %}

  <!-- Contenido dinámico -->
  <main class="container">
    {% block body %}{% endblock %}
  </main>

  <!-- AlpineJS -->
  <script src="//unpkg.com/alpinejs" defer></script>
  <script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
  </script>
</body>
</html>
