{% extends "layout.html" %}
{% load user_extras %}
{% block title %}Detalle de Comanda{% endblock %}
{% block body %}
<main class="container">
  <h1>Comanda #{{ order.id }} - Mesa {{ order.table.name }}</h1>
  {% if user|is_encargado %}
    <a href="{% url 'edit_order' order.id %}" role="button">✏️ Editar Comanda</a>
  {% endif %}
  <p>Fecha de creación: {{ order.created_at|date:"d/m/Y H:i" }}</p>
  <p>Estado: {% if order.is_paid %}Pagado{% else %}Pendiente{% endif %}</p>
  <p>Mesero: {{order.user}}</p>

  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cant.</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>C$ {{ item.product.price }}</td>
        <td>C$ {{ item.get_total }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="3">Total</th>
        <th>C$ {{ total }}</th>
      </tr>
    </tbody>
  </table>

  <div 
    x-data="{
        comandaHtml: '',
        async printOrder() {
            const response = await fetch('{% url "print_order" order.id %}');
            this.comandaHtml = await response.text();
        }
    }"
  >
    <iframe :srcdoc="comandaHtml" frameborder="0" style="display: none"></iframe>
    <button type="button" @click="printOrder()">🖨️ Imprimir Comanda</button>
  </div>
  {% if not order.is_paid %}
  <form method="post">{% csrf_token %}
    <input type="hidden" name="action" value="mark_paid">
    <button type="submit" class="contrast">Marcar como pagada</button>
  </form>
  {% endif %}
</main>
{% endblock %}
