{% extends "layout.html" %}
{% load humanize %}
{% block body %}
<main class="container">
<h1>📦 Reporte de Inventario</h1>
      <p><strong>Total de ingredientes:</strong> {{ total_items }}</p>
      <a href="{% url 'export_inventory_csv' %}" role="button">
        ⬇️ Descargar CSV
      </a>
      <a href="{% url 'report_inventory' %}?print=true" role="button">🖨️ Imprimir Reporte</a>

  <div class="class="overflow-auto"">
    <table class="striped">
      <thead>
        <tr>
          
          <th>Ingrediente</th>
          <th>Cantidad actual</th>
          <th>Unidad</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in ingredients %}
        <tr>
            
          <td>{{ i.name }}</td>
          
          <td>{{ i.stock_quantity|floatformat:2|intcomma }}</td>
          <td>{{ i.unit|default:"—" }}</td>
          
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" style="text-align:center;">No hay ingredientes registrados.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% if print %}
  <div 
    x-data="{
      comandaHtml: '',
      async init() {
        const response = await fetch('{% url "print_inventory_report" %}');
        this.comandaHtml = await response.text();
      }
    }"
  >
    <iframe :srcdoc="comandaHtml" frameborder="0" style="display: none"></iframe>
  </div>
{% endif %}
</main>
{% endblock %}
