{% extends "layout.html" %}
{% load user_extras %}
{% block title %}Comandas - Mesa {{ table.name }}{% endblock %}
{% block body %}
<main class="container">
  <h1>Comandas de Mesa {{ table.name }}</h1>

  {% if orders %}
    {% for order in orders %}
      <article>
        <h3>Comanda #{{ order.id }} - {{ order.get_status_display }}</h3>
        <p>Mesero: {{ order.user.username }}</p>
        <ul>
          {% for item in order.orderitem_set.all %}
            <li>{{ item.quantity }} x {{ item.product.name }} — C$ {{ item.get_total|floatformat:2 }}</li>
          {% endfor %}
        </ul>
        <p><strong>Total:</strong> C$ {{ order.get_total|floatformat:2 }}</p>
        <footer>
          {% if user|is_encargado %}
          <a href="{% url 'edit_order' order.id %}" role="button">✏️ Editar Comanda</a>
        {% endif %}
        </footer>
      </article>
    {% endfor %}
  {% else %}
    <p>No hay comandas pendientes para esta mesa.</p>
  {% endif %}
</main>
{% endblock %}
