{% extends "layout.html" %}
{% block title %}Mesas{% endblock %}
{% block body %}
<main class="container" x-data="{modal: false, tableName:'', tableTotal:'', tableId:''}">
  <h1>Mesas</h1>

  <section class="list">
    {% for item in table_data %}
      <article>
        <header>
          <h3>Mesa {{ item.table.name }}</h3>
        </header>

        <p>C$ {{ item.total_due|floatformat:2 }}</p>

        <div role="group">
          <a href="{% url 'create_order' item.table.id %}" role="button">➕</a>
          <a href="{% url 'table_orders' item.table.id %}" role="button" class="secondary">📋</a>
          {% if item.total_due > 0 %}
          <button @click="tableName='{{item.table.name}}';tableTotal={{item.total_due}};tableId='{{item.table.id}}';modal=true" class="contrast">✅</button>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    <dialog x-bind:open="modal" x-show="modal">
        <article @click.outside="modal=false">
            <h2>Pagar mesa <span x-text="tableName"></span></h2>
            <p>¿Desea marcar pagado la mesa <span x-text="tableName"></span>?</p>
            <b>Total: C$ <span x-text="tableTotal"></span></b>
            <footer>
                <button class="secondary" @click.prevent="modal = false">
                    Cancelar
                </button>
                <a role="button" :href="'/mesa/'+ tableId + '/pagar/'">Confirmar</a>
            </footer>
        </article>
    </dialog>
  </section>
</main>
{% endblock %}
